/* This file contains the CSS data for the editable area(iframe) of TinyMCE */
/* You can extend this CSS by adding your own CSS file with the the content_css option */

body {
	background-color: #FFFFFF;
	font-family: sans-serif; /* WPH - Hebrew font specificity */
	font-size: 1.0em; /* WPH - Font size */
	line-height: 1.2em;
	padding: .3em;
}

td {
	font-family: sans-serif; /* WPH - Hebrew font specificity */
	/* WPH - Font size */
}

pre {
	font-family: sans-serif; /* WPH - Hebrew font specificity */
	/* WPH - Font size */
}

.mceVisualAid {
	border: 1px dashed #BBBBBB !important;
}

.mceItemAnchor {
	width: 12px;
	line-height: 6px;
	overflow: hidden;
	padding-left: 12px;
	background-image: url('../images/anchor_symbol.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

/* Important is needed in Gecko browsers inorder to style links */
/*
a {
	color: green !important;
}
*/

/* Style selection range colors in Gecko browsers */
/*
::-moz-selection {
	background-color: red;
	color: green;
}
*/
