<STYLE>
HTML
{
    MARGIN-BOTTOM: 1px;
    HEIGHT: 100%
}
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: small;
    FONT-SIZE: small;
    PADDING-BOTTOM: 0px;
    MARGIN: 3px 5px 5px;
    COLOR: #cccccc;
    LINE-HEIGHT: normal;
    PADDING-TOP: 0px;
    FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
    BACKGROUND-COLOR: #555555;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}
#wrapper
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 3px 0px 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    POSITION: relative;
    TEXT-ALIGN: center;
    FONT-SIZE: small;
}
#gallerywrapper
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 2px 0px 0px;
    WIDTH: 100%;
    PADDING-TOP: 4px;
    POSITION: relative;
    TEXT-ALIGN: center
}
#main
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #777777 1px solid;
    WIDTH: 984px;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #555555;
    TEXT-ALIGN: center
}
#commentmain
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 40px 0px 0px;
    BORDER-LEFT: #777777 1px solid;
    WIDTH: 800px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #555555;
    TEXT-ALIGN: center
}
#gallerytext
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    WIDTH: 420px;
    COLOR: #aaaaaa;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #555555 1px solid;
    BACKGROUND-COLOR: #333333;
    TEXT-ALIGN: left
}
#finalgallerytext
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    WIDTH: 420px;
    COLOR: #aaaaaa;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: #333333;
    TEXT-ALIGN: left
}
#embedgallerytext
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 420px;
    COLOR: #aaaaaa;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #555555 1px solid;
    BACKGROUND-COLOR: #333333;
    TEXT-ALIGN: left
}
#commenttext
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 40px;
    BORDER-LEFT: #777777 1px solid;
    WIDTH: 758px;
    COLOR: #dddddd;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #666666;
    TEXT-ALIGN: left
}
#gallerycommenttext
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 36px;
    BORDER-LEFT: #777777 1px solid;
    COLOR: #dddddd;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #666666;
    TEXT-ALIGN: left;
}
.galleryimage
{
    width: 267;
    height: 200;
}
#galleryvote
{
    BORDER-RIGHT: #000000 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000000 1px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: small;
    PADDING-BOTTOM: 0px;
    MARGIN: 2px;
    BORDER-LEFT: #000000 1px solid;
    COLOR: #aaaaaa;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000000 1px solid;
    BACKGROUND-COLOR: #333333;
    TEXT-ALIGN: left
}
#monthlist
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 40px;
    BORDER-LEFT: #777777 1px solid;
    WIDTH: 200px;
    COLOR: #dddddd;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #666666;
    TEXT-ALIGN: left
}
#linkslist
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 40px;
    BORDER-LEFT: #777777 1px solid;
    WIDTH: 360px;
    COLOR: #dddddd;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #666666;
    TEXT-ALIGN: left
}
#portraitcolumn
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 20px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 40px;
    BORDER-LEFT: #777777 1px solid;
    WIDTH: 432px;
    COLOR: #dddddd;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #666666;
    TEXT-ALIGN: left
}
#portraitpicturecolumn
{
    BORDER-RIGHT: #777777 1px solid;
    PADDING-RIGHT: 20px;
    BORDER-TOP: #777777 1px solid;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px 0px 40px;
    BORDER-LEFT: #777777 1px solid;
    WIDTH: 432px;
    COLOR: #dddddd;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #777777 1px solid;
    BACKGROUND-COLOR: #666666;
    TEXT-ALIGN: center
}
#captiontext
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 40px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
#bobcommenttext
{
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #999999 1px solid;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 20px;
    BORDER-LEFT: #999999 1px solid;
    WIDTH: 600px;
    COLOR: #dddddd;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999999 1px solid;
    BACKGROUND-COLOR: #555555;
    TEXT-ALIGN: left
}
#hdr
{
    FONT-WEIGHT: bold;
    FONT-SIZE: xx-large;
    TEXT-ALIGN: center
}
#inyourface
{
    FONT-WEIGHT: bold;
    FONT-SIZE: large;
    TEXT-ALIGN: center
}
#navpanel
{
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 5px;
    LEFT: 200px;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: #ccc 1px solid;
    WIDTH: 770px;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ccc 1px solid;
    POSITION: absolute;
    TOP: 620px
}
A
{
    COLOR: #99ccff;
    TEXT-DECORATION: none
}
A:link
{
    COLOR: #99ccff;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #99ccff;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #99ccff
}
A:hover
{
    COLOR: #cccccc
}
TABLE
{
    FONT: small Verdana, Arial, sans-serif;
    COLOR: #cccccc;
    TEXT-DECORATION: none
}
SELECT
{
    FONT: small Verdana, Arial, sans-serif;
    COLOR: #99ccff;
    BACKGROUND-COLOR: #555555;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}
INPUT
{
    FONT: small Verdana, Arial, sans-serif;
    COLOR: #99ccff;
    BACKGROUND-COLOR: #555555;
    TEXT-ALIGN: left;
    TEXT-DECORATION: none
}

.links
{
    TEXT-DECORATION: none
}
.hnd
{
    CURSOR: hand
}
.tablebourder
{
    BORDER-RIGHT: #333333 1px solid;
    BORDER-TOP: #333333 1px solid;
    BORDER-LEFT: #333333 1px solid;
    BORDER-BOTTOM: #333333 1px solid
}
.pic-text
{
    BORDER-RIGHT: #555555 0px;
    PADDING-RIGHT: 0px;
    BACKGROUND-POSITION: center center;
    BORDER-TOP: #555555 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: small;
    PADDING-BOTTOM: 0px;
    MARGIN: 2px;
    BORDER-LEFT: #555555 0px;
    COLOR: #cccccc;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #555555 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #555555;
    TEXT-ALIGN: left
}
.sidetitle
{
    WIDTH: 100%;
    POSITION: relative;
    TOP: 4px;
    HEIGHT: 524px
}
.LeftTitle
{
    LEFT: 10px;
    TOP: 10px;
    TEXT-ALIGN: left
}
.RightTitle
{
    RIGHT: 12px;
    TOP: 10px;
    TEXT-ALIGN: right
}
.nextprev
{
    FONT-SIZE: 9pt;
    RIGHT: 12px;
    TEXT-ALIGN: right
}
.counters
{
    LEFT: 12%;
    POSITION: absolute;
    TOP: 550px;
    TEXT-ALIGN: right
}
.controls
{
    LEFT: 68%;
    POSITION: absolute;
    TOP: 550px;
    TEXT-ALIGN: left
}
.copyright
{
    WIDTH: 100%;
    POSITION: absolute;
    TOP: 575px;
    TEXT-ALIGN: center
}
.blocktext
{
    FONT-SIZE: small
}
.enbolden
{
    FONT-WEIGHT: bold
}
.smalltext
{
    FONT-SIZE: small
}
.linkstext
{
    FONT-SIZE: 9pt
}
.navtext
{
    FONT-SIZE: 11pt
}
.imgrandom
{
	border:   2.00pt solid #000000;
	width:    770;
	height:   300;
}
.imggallery
{
	border:   1.00pt solid #000000;
	width:    267;
	height:   200;
}
.imggallery2
{
	border:   1.00pt solid #000000;
}
.simpletext
{
	FONT: small Verdana, Arial, sans-serif;
	COLOR: #99ccff;
	TEXT-ALIGN: left;
    	TEXT-DECORATION: none
}
.divider 
{ 
    border-top: 1px solid #777777; 
}
</STYLE>