.title{
	embedFont:false;
	color:#AAAAAA; 
	font-family:Arial;
	font-size:18;
}

.description{
	embedFont:false;
	color:#666666; 
	font-family:Arial;
	font-size:14;
}

.background{
	color:#000000;
	border-left:1;
	border-right:2;
	border-bottom:3;
	border-top:4;
}
